* {
    box-sizing: border-box;
}



body{
    padding: 0;
    margin: 0;
    background-color:#eff3f7;
    /* background: linear-gradient(90deg,gray,black); */
    /* color: white; */
    height: 100%;
}